<!DOCTYPE html>
<html>

<head>

	<title>Node-game</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/general.css">
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/jquery.js" type="text/javascript"></script>
	<script src="js/file.js" type="text/javascript"></script>
	
</head>

<body>
	<div class="wrap">
		<header>
			<p>Пять в ряд</p>
			<div class="disc"><b>Правила:</b> Два игрока На поле 50 на 50 ячеек по очереди выкладывают крестики(нолики). Выигрывает тот игрок, который первым выложит  в один ряд (по горизонтали, по вертикали или по диагонали) пять (5) крестиков(ноликов).</div>
		</header>

			{{{body}}}
		
		<footer>
			<p>joonior, 2015(с)</p>
		</footer>
	</div>
</body>
</html>