		<div class="main">
			<input type="hidden" id="room_id" value="1" />
			<div class="chat_list">
				<div class="cont_chat">
					{{{userOnline}}}
				</div>
			</div>

			<div class="main_cont">
				<div class="chat_mess all_cont_a">
					<textarea class="new_mes" placeholder="Введите сообщение"></textarea>
					<div class="cont_mess">
					</div>
				</div>
			
				<div class="aut">
					<div class="login">{{{auth}}}</div>
					{{{game}}}
				</div>
			</div>

			<div class="game_list">
				<div class="cont_game">
					{{{gameCurrent}}}
				</div>
			</div>
		</div>